:root {
    --primaryColor: #00eaff;
    --primaryHover: hsl(185, 92%, 41%);
    --secondaryColor: rgb(150, 162, 188);
    --paragraphColor: rgb(127, 127, 175);
    --BgColor: #031a30;
    --formColor: rgb(2, 15, 29);
    --projectCardColor: linear-gradient(90.21deg, rgba(170, 54, 124, 0.) -5.91%, rgba(74, 47, 189, 0.) 111.58%);
    --textColor: #dae4fb;
    --headerHeight: 48px;
}

.about {
    border: 2px solid var(--primaryColor);
    border-radius: 50px;
    background: var(--projectCardColor);
    opacity: 1;

    .sectionContent {
        .textSection {
            h4 {
                color: #fff;
                font-size: 18px;
                max-width: 100%;
                letter-spacing: 1px;
                font-weight: 500;
                margin: 15px;
            }

            .aboutBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 32px;
                background: var(--projectCardColor);
                width: max-content;
                padding: 10px 15px;

                &:hover {
                    background: var(--primaryColor);
                }

                a {
                    color: var(--projectCardColor);
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                    gap: 8px;
                }

                a:hover {
                    color: var(--BgColor);
                }
            }
        }

        .aboutImgDiv {
            position: relative;
            width: 250px;
            height: 250px;
            margin: 32px auto 48px;
            border-radius: 50%;
            overflow: hidden;
            display: grid;
            border: 2px solid var(--primaryColor);

            &::before {
                    content: 'Hover Me';
                    font-size: 26px;
                    color: var(--textColor);
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Inconsolata', monospace;
                    justify-self: center;
                    align-self: center;
                    background: var(--projectCardColor);
                    mix-blend-mode: screen;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    overflow: hidden;
                    transition: all 0.1s;
            }

            &:hover.aboutImgDiv::before {
                height: 0%;
            }
            
            .aboutImg {
                width: 120%;
                object-fit: cover;
                align-self: center;
                justify-self: center;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .about {
        width: 70%;
        margin: auto;
    }
}

@media screen and (min-width: 960px) {
    .about {
        .sectionContent {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            margin: auto;
        }
    }
}

@media screen and (min-width: 1240px) {
    .about {
        .sectionContent {
            .textSection {
                h4 {
                    font-size: 19px;
                }
            }
        }
    }
}