:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185, 92%, 41%);
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --BgColor: #031a30;
  --formColor: rgb(2, 15, 29);
  --projectCardColor: linear-gradient(90.21deg, rgba(170, 54, 124, 0.8) -5.91%, rgba(74, 47, 189, 0.8) 111.58%);
  --textColor: #dae4fb;
  --headerHeight: 48px;
}

.home {
  background-image: url("../../Assets/bg.jpeg");
  background-position: top center;
  background-repeat: no-repeat;
}
.home .homeImg {
  height: 100%;
  width: 100%;
  animation: updown 4s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
.home .homeContainer {
  padding: 64px 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: auto;
}
.home .introText {
  color: rgba(196, 99, 157, 0.8);
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
}
.home .title {
  font-size: 53px;
  font-weight: 600;
  color: #fff;
  padding: 11px 0;
}
.home .subTitle {
  display: block;
  font-size: 29px;
  font-weight: 600;
  color: var(--secondaryColor);
  line-height: 32px;
  padding: 8px 0;
}
.home .homeParagraph {
  font-size: 21px;
  padding: 10px 16px;
  color: var(--paragraphColor);
  padding: 16px 0;
  max-width: 600px;
}
.home .lowerHomeSection .contactBtn {
  padding: 10px 16px;
  background: var(--projectCardColor);
  color: var(--BgColor);
  border: none;
  outline: none;
}
.home .lowerHomeSection .contactBtn:hover {
  background: var(--primaryHover);
}
.home .lowerHomeSection .contactBtn a {
  font-size: 18px;
  font-weight: 600;
  gap: 8px;
  align-items: center;
  color: var(--textColor);
}
.home .lowerHomeSection .contactBtn a:hover {
  color: var(--BgColor);
}
.home .lowerHomeSection .scrollDiv {
  padding-top: 16px;
  display: flex;
  align-items: center;
}
.home .lowerHomeSection .scrollDiv .scroll {
  font-size: 18px;
  color: rgba(196, 99, 157, 0.8);
}
.home .lowerHomeSection .scrollDiv .icon {
  font-size: 18px;
  margin-left: 10px;
  color: rgba(196, 99, 157, 0.8);
  animation: move 0.9s infinite;
}
@keyframes move {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
.home .leftIcons, .home .rightEmail {
  display: none;
}

@media screen and (min-width: 480px) {
  .home .homeContainer {
    padding: 80px 24px;
  }
  .home .homeContainer .introText {
    font-size: 24px;
  }
  .home .homeContainer .title {
    font-size: 56px;
  }
  .home .homeContainer .subTitle {
    font-size: 34px;
  }
  .home .homeContainer .homeParagraph {
    font-size: 24px;
  }
  .home .homeContainer .lowerHomeSection .contactBtn {
    padding: 13px 24px;
  }
  .home .homeContainer .lowerHomeSection .contactBtn a {
    font-size: 22px;
  }
  .home .homeContainer .scrollDiv {
    padding-top: 24px;
  }
  .home .homeContainer .scrollDiv .icon {
    font-size: 24px;
  }
}
@media screen and (min-width: 770px) {
  .home .homeContainer {
    width: 80%;
    margin: auto;
  }
  .home .leftIcons, .home .rightEmail {
    display: block;
    position: fixed;
  }
  .home .leftIcons .icon, .home .rightEmail .icon {
    color: var(--secondaryColor);
  }
  .home .leftIcons a, .home .rightEmail a {
    font-weight: 600;
    color: var(--secondaryColor);
  }
  .home .leftIcons .line, .home .rightEmail .line {
    margin: auto;
    content: "";
    background: var(--secondaryColor);
    height: 100px;
    width: 1px;
  }
  .home .leftIcons {
    left: 5%;
    bottom: 0;
  }
  .home .leftIcons .socials {
    gap: 16px;
  }
  .home .leftIcons .socials a {
    color: var(--textColor);
  }
  .home .leftIcons .socials a:hover {
    color: var(--primaryColor);
  }
  .home .rightEmail {
    right: 0;
    bottom: 0;
  }
  .home .rightEmail .emailAdress {
    transform: rotate(90deg) translate(-90px, 0px);
  }
  .home .rightEmail .emailAdress a {
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 1240px) {
  .home .homeContainer {
    padding: 96px;
  }
  .home .homeContainer .introText {
    font-size: 24px;
  }
  .home .homeContainer .title {
    font-size: 80px;
  }
  .home .homeContainer .subTitle {
    line-height: 40px;
    font-size: 38px;
  }
  .home .homeContainer .homeParagraph {
    font-size: 29px;
  }
}/*# sourceMappingURL=home.css.map */