:root {
    --primaryColor: #00eaff;
    --primaryHover: hsl(185, 92%, 41%);
    --secondaryColor: rgb(150, 162, 188);
    --paragraphColor: rgb(127, 127, 175);
    --BgColor: #031a30;
    --formColor: rgb(2, 15, 29);
    --projectCardColor: linear-gradient(90.21deg, rgba(170, 54, 124, 0.8) -5.91%, rgba(74, 47, 189, 0.8) 111.58%);
    --textColor: #dae4fb;
    --headerHeight: 48px;
}

.home {
    background-image: url('../../Assets/bg.jpeg');
    background-position: top center;
    background-repeat: no-repeat;
    
    .homeImg {
        height: 100%;
        width: 100%;
        animation: updown 4s linear infinite;

        @keyframes updown {
            0% {
                transform: translateX(-20px);
            }
            50% {
                transform: translateY(20px);
            }
            100% {
                transform: translateX(-20px);
            }
        }
    }
    
    .homeContainer {
        padding: 64px 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin: auto;
    }
        .introText {
            color: rgba(196, 99, 157, 0.8);
            font-size: 21px;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .title {
            font-size: 53px;
            font-weight: 600;
            color: #fff;
            padding: 11px 0;
        }

        .subTitle {
            display: block;
            font-size: 29px;
            font-weight: 600;
            color: var(--secondaryColor);
            line-height: 32px;
            padding: 8px 0;
        }

        .homeParagraph {
            font-size: 21px;
            padding: 10px 16px;
            color: var(--paragraphColor);
            padding: 16px 0;
            max-width: 600px;
        }

        .lowerHomeSection {
            .contactBtn {
                padding: 10px 16px;
                background: var(--projectCardColor);
                color: var(--BgColor);
                border: none;
                outline: none;
                &:hover {
                    background: var(--primaryHover);
                }

                a {
                    font-size: 18px;
                    font-weight: 600;
                    gap: 8px;
                    align-items: center;
                    color: var(--textColor);
                }

                a:hover {
                    color: var(--BgColor);
                }
            }

            .scrollDiv {
                padding-top: 16px;
                display: flex;
                align-items: center;

                .scroll {
                    font-size: 18px;
                    color: rgba(196, 99, 157, 0.8);
                }

                .icon {
                    font-size: 18px;
                    margin-left: 10px;
                    color: rgba(196, 99, 157, 0.8);
                    animation: move .9s infinite;
                }

                @keyframes move {
                    0% {
                        transform: translateY(5px);
                    }
                    25% {
                        transform: translateY(0px);
                    }
                    50% {
                        transform: translateY(5px);
                    }
                    75% {
                        transform: translateY(0px);
                    }
                    100% {
                        transform: translateY(5px);
                    }
                }
            }
        }

    .leftIcons, .rightEmail {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .home{
        .homeContainer {
            .homeImgDiv {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .home{
        .homeContainer {
            padding: 80px 24px;

            .introText {
                font-size: 24px;
            }

            .title {
                font-size: 56px;
            }

            .subTitle {
                font-size: 34px;
            }

            .homeParagraph {
                font-size: 24px;
            }

            .lowerHomeSection {
                .contactBtn {
                    padding: 13px 24px;
                    a {
                        font-size: 22px;
                    }
                }
            }

            .scrollDiv {
                padding-top: 24px;
                .icon {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (min-width: 770px) {
    .home {
        .homeContainer {
            width: 80%;
            margin: auto;
        }

        .leftIcons, .rightEmail {
            display: block;
            position: fixed;
            .icon {
                color: var(--secondaryColor);
            }
            a {
                font-weight: 600;
                color: var(--secondaryColor);
            }

            .line {
                margin: auto;
                content: '';
                background: var(--secondaryColor);
                height: 100px;
                width: 1px;
            }
        }

        .leftIcons {
            left: 5%;
            bottom: 0;
            .socials {
                gap: 16px;
                a {
                    color: var(--textColor);
                    &:hover {
                        color: var(--primaryColor);
                    }
                }
            }
        }

        .rightEmail {
            right: 0;
            bottom: 0;
            .emailAdress {
                transform: rotate(90deg) translate(-90px, 0px);
                a {
                    letter-spacing: 1px;
                }
            }
        }
    }
}



@media screen and (min-width: 1240px) {
    .home {
        .homeContainer {
            padding: 96px;
            .introText {
                font-size: 24px;
            }

            .title {
                font-size: 80px;
            }

            .subTitle {
                line-height: 40px;
                font-size: 38px;
            }

            .homeParagraph {
                font-size: 29px;
            }
        }
    }
}
